html{
    height: 100%;
}
body {
    min-width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    height: 100%;
}

form{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
    letter-spacing: 1px;
    padding: 2px;
    line-height: 1.2rem;
    margin-top: 20px;
}

a{
    text-decoration: none;
}

.header-container
{
    display: block;
    top: 0;
    background-color: white;
    width:100%;
    position: fixed;
    height: 3.4rem;
}
header {
    display: block;
    top: 0;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 960px;
    position: fixed;
}

.my-name {
    background-color: #4aaaa5;
    color: #fff;
    float: left;
    padding: 2%;
    width: 20%;
    font-weight: bold;
}

nav {
    color: #666666;
    float: right;
    padding: 2%;
    width: 50%;
    text-align: right;
}
header::after{
    content:"";
    display:block;
    clear: both;
}

.container
{
    width: 100%;
    background-image: url("bg.png");
    min-height:100%;
    
}
.entire-content-area {
    width: 960px;
    background-image: url("bg.png");
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 8%;
    min-height: 100% !important;
    margin-top: 42px;
}

.entire-content-area::after
{
    clear:both;
    display: block;
    content:"";
}


.main-section-content {
    width: 650px;
    background-color: white;
    padding: 1%;
    float: left;
    }

.article-header {
    color: #4aaaa5;
    font-weight: bold;
}

.profile-image {
    width: 40%;
    float: left;
    padding: 20px;
}

.portfolio-projects{
    width: 100%;
    text-align:center;
}
.portfolio-project{
    display:inline-block;
    position: relative;
    width: 48%;
    border: solid thin #eee;
    text-align: center;
}

.portfolio-project-images
{
    width:100%;
}

.image-text{
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    background-color: teal;
    height: 1.4rem;
    padding: .5rem;
    color: white;
    font-weight: 1000;
    font-size: 1.4rem;
    bottom: 0px;
}
.image-links {
    text-decoration: none;
}

.input-label{
    margin-top: 10px;
}
.submit-button{
    display:block;
}

.connect-section {
    width: 270px;
    background-color: white;
    float: right;
    padding: 1%;
    text-align: center;
}

.connect-title {
    color: #4aaaa5;
    font-weight: bold;
}

.social-icons {
    width: 14%;
    padding: 2px 10px 2px 10px;
}

.submit-button{
    background-color:   teal;
    color: white;
}

footer {
    background-color: #666666;
    width: 100%;
    position:fixed;
    bottom: 0px;
    padding: 2%;
    text-align:center;
    color: #aba9a9;
    border-top: solid #4aaaa5 6px;
}

@media screen and (max-width: 968px) {
    body {
      background-color: #333;
    }
}


@media screen and (max-width: 760px) {
    body {
      background-color: #333;
    }
}


@media screen and (max-width: 640px) {
    body {
      background-color: #333;
    }
}